/*CSS RESET*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}


/*HEADER*/

.header {
    background-color: #1F2937;
    height: 80px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;

    display: flex;
    gap: 2rem;
}


/*FIRST-SECTION*/

.first-section {
    background-color: #1F2937;
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.first-section-left {
    width: 500px;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.first-button{
    color: #F9FAF8;
    background-color: #3382f6;
    width: 130px;
    height: 35px;
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;    

    display: flex;
    justify-content: center;
    align-items: center;
}

.img-placeholder {
    background-color: grey;
    color: #E5E7EB;
    font-size: 20px;
    font-weight: 600;
    width: 550px;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
}


/*SECOND-SECTION*/

.second-section {
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

}

.card-container {    
    display: flex;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 230px;
    gap: 0.5rem;
}

.box {    
    width: 220px;
    height: 220px;
    border: 5px solid #3382f6;
    border-radius: 15px;
}

.card > p {
    font-size: 20px;
    color: rgb(105, 104, 104);
}

/*THIRD-SECTION*/

.third-section {
    height: 600px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    width: 800px;
    height: 250px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;    
}

.name {
    font-size: 20px;
    font-weight: 530;
    color: #1F2937;
    text-align: right;
}
